process.container = 'lucananni93/calder:latest'


params {
    input = null
    chromosomes = 'ALL'
    excludeChromosomes = 'Y,MT'
    binSize = '100000'
    out_dir = 'results'
    normalization = 'KR'
}


executor {
    name = 'local'
    cpus = 10
}

docker {
    enabled = true
    fixOwnership = true
}
